/* demo classes */
html,
body {
  margin: 0;
  font-style: normal;
  font-family: -apple-system, "Inter UI", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.demo-outer {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  max-width: 750px;
}
.demo-inner {
  flex: 1;
  width: 100%;
  margin: 0;
}



/* previewer classes */
.vp-preview-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* icon buttons */
.vp-preview-button {
  height: 40px;
  width: 40px;
  font-size: 24px;
  text-align: center;
  line-height: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 3px;
}
.vp-preview-button:hover {
  background-color: rgba(255,255,255,0.25);
  cursor: pointer;
}
.vp-preview-button:focus,
.vp-preview-button:active {

}



.vp-preview-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 52px;
  min-height: 52px;
  max-height: 52px;
}
.vp-preview-bar-left,
.vp-preview-bar-right {
  padding: 6px;
  display: flex;
  align-items: center;
}
.vp-preview-bar-left button {
  margin-right: 3px;
}
.vp-preview-bar-left span.vp-preview-pagecount {
  margin-left: 6px;
}

.vp-preview-bar-right button {
  margin-left: 6px;
}



.vp-preview-icons {
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;
  bottom: 24px;
  right: 12px;
  background-color: rgba(0,0,0,.5);
  border-radius: 3px;
  padding: 6px;
}
.vp-preview-icons button {
  margin-top: 6px;
}
.vp-preview-icons button:first-child {
  margin-top: 0;
}



.vp-preview-content {
  position: relative;
  width: 100%;
  height: calc(100vh - 52px);
  background-color: red;
  overflow: scroll;
}
.vp-preview-content .vp-preview-file {
  padding: 12px;
}
