/* previewer classes */
.preview-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* icon buttons */
.preview-button {
    height: 40px;
    width: 40px;
    font-size: 24px;
    text-align: center;
    line-height: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 3px;
}

.preview-button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

.preview-button:focus,
.preview-button:active {
}

.preview-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #2b2f39;
    color: #fff;
    width: 100%;
    height: 52px;
    min-height: 52px;
    max-height: 52px;
}

.preview-bar-left,
.preview-bar-left {
    padding: 6px;
    display: flex;
    align-items: center;
}

.preview-bar-left button {
    margin-right: 3px;
}

.preview-bar-left span.preview-pagecount {
    margin-left: 6px;
}

.preview-bar-right button {
    margin-left: 6px;
}

.preview-icons {
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
    bottom: 24px;
    right: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 6px;
}

.preview-icons button {
    margin-top: 6px;
}

.preview-icons button:first-child {
    margin-top: 0;
}

.preview-content {
    position: relative;
    width: 100%;
    height: calc(100vh - 52px);
    background-color: #68738a;
    overflow: scroll;
}

.preview-content .preview-file {
    margin: auto;
    padding: 12px;
}

.preview-pdf-page {
    margin-bottom: 12px;
}

.media-thumbnail {
    pointer-events: none;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
